<!--Only holds other templates-->
<template name="FootballBannerButtons">
    <div class="wrapper" id="football-buttons-desktop">
        {{>FootballValuationAddDesktop}}
    </div>
    <div class="wrapper" id="football-buttons-mobile">
        <div class="left">
            {{>FootballOpenField}}
        </div>
        <div class="left">
            {{>FootballOpenControls}}
        </div>
        <div class="left">
            {{>FootballOpenLibrary}}
        </div>
        <div class="left">
            {{>FootballValuationAddMobile}}
        </div>
    </div>
</template>