<!--Controls for active Football Field-->
<template name="GalleryControls">
    <div class="panel-heading gallery-base" id="gallery-controls-base" role="tab" data-toggle="collapse" data-parent="#gallery-menu-inner" href="#gallery-controls-block" aria-expanded="true" aria-controls="gallery-controls-block">
        <div class="gallery-base-title">
            <h5>Football Field Controls</h5>
        </div>
    </div>
    {{#if Template.subscriptionsReady}}
        <div class="panel-collapse collapse gallery-block" id="gallery-controls-block" role="tabpanel">
            {{#with currentFootballId}}
                <div class="{{themeStyle.borderShadedBottom}}" id="controls-details">
                    <div id="controls-details-inner">
                        <div class="gallery-row">
                            <div class="gallery-row-title left">
                                Target (if any):
                            </div>
                            <div class="gallery-row-value right">
                                {{targetName}}
                            </div>
                        </div>
                        <div class="gallery-row">
                            <div class="gallery-row-title left">
                                Football Name:
                            </div>
                            <div class="wrapper" id="football-name">
                                {{#if showName}}
                                    <div id="football-name-value">
                                        {{footballName}}
                                    </div>
                                {{else}}
                                    <div>
                                        <form id="football-name-form">
                                            <div class="input-group-sm left">
                                                <input name="football-name-edit" id="football-name-edit" autocomplete="off" type="text" value="{{footballName}}" placeholder="{{footballName}}" class="form-control"/>
                                            </div>
                                        </form>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="{{themeStyle.borderShadedBottom}}" id="controls-result">
                    <div id="controls-result-inner wrapper">
                        <div class="gallery-row wrapper">
                            {{>FootballTarget}}
                        </div>
                    </div>
                </div>
                <div class="wrapper" id="controls-scroll">
                    <div id="controls-scroll-inner">
                        <div class="gallery-row wrapper">
                            <div class="controls-scroll-left left">
                                Output Type
                            </div>
                            <div class="controls-scroll-right right">
                                {{>FootballOutput}}
                            </div>
                        </div>
                        <div class="gallery-row wrapper">
                            <div class="controls-scroll-left left">
                                Scale
                            </div>
                            <div class="controls-scroll-right right">
                                {{>FootballScale}}
                            </div>
                        </div>
                        <div class="gallery-row wrapper">
                            <div class="controls-scroll-left left">
                                Cushion
                            </div>
                            <div class="controls-scroll-right right">
                                {{>FootballCushion}}
                            </div>
                        </div>
                        <div class="gallery-row wrapper">
                            <div class="controls-scroll-left left">
                                Current Trading
                            </div>
                            <div class="controls-scroll-right right">
                                {{>FootballCurrentToggle}}
                            </div>
                        </div>
                        <div class="gallery-row wrapper">
                            <div class="controls-scroll-left left">
                                52-Week High/Low
                            </div>
                            <div class="controls-scroll-right right">
                                {{>FootballTradingToggle}}
                            </div>
                        </div>
                        <div class="gallery-row wrapper">
                            <div class="controls-scroll-left left">
                                Re-sort
                            </div>
                            <div class="controls-scroll-right right">
                                {{>FootballSort}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper" id="controls-actions">
                    <div class="wrapper" id="controls-actions-inner">
                        <div class="gallery-row wrapper">
                            {{>FootballActions}}
                        </div>
                        <div class="gallery-row wrapper">
                            {{>FootballActionsOption}}
                        </div>
                    </div>
                </div>
            {{/with}}
        </div>
    {{/if}}
</template>