<!--User's coverage, including Football Fields, Targets and Valuations-->
<template name="GalleryCoverage">
    <div class="panel-heading gallery-base" id="gallery-coverage-base" role="tab" data-toggle="collapse" data-parent="#gallery-menu-inner" href="#gallery-coverage-block" aria-expanded="false" aria-controls="gallery-coverage-block">
        <div class="gallery-base-title">
            <h5>My Coverage</h5>
        </div>
    </div>
    <div class="panel-collapse collapse gallery-block" id="gallery-coverage-block" role="tabpanel">
        <div class="gallery-block-menu">
            {{>CoverageMenu}}
        </div>
        <div class="gallery-block-content gallery-items">
            {{>CoverageContent}}
        </div>
        <div class="gallery-block-controls">
            {{>CoverageControls}}
        </div>
    </div>
</template>