<!--This template is overlaid on the Football Field Valuations template, with the same dimensions as Valuations.
Since Valuations are wider than what is needed here, I needed to split up into different templates.-->
<template name="FootballFieldArea">
    <div class="football-field-item wrapper">
        <div class="football-left left" id="football-area-detail">
            &nbsp;
        </div>
        <div class="football-right wrapper left">
            <div class="bar-space left">
                &nbsp;
            </div>
            <div class="football-field-content wrapper left">
                <div id="football-area-space">
                    &nbsp;
                </div>
                <div class="wrapper" id="football-area-current">
                    {{>footballCurrent}}
                </div>
                <div class="wrapper" id="football-area-trading">
                    {{>footballTrading}}
                </div>
            </div>
            <div class="bar-space left">
                &nbsp;
            </div>
        </div>
    </div>
</template>