<template name="About">
    <div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalAboutLabel">About Workshop Finance</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h5><strong>Key Features</strong></h5>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Interactive charting for corporate finance valuation and analysis
                            </li>
                            <li>
                                New and innovative way to leverage financial data, without any existing charting libraries
                            </li>
                            <li>
                                Use cases include investment banking, private equity and more
                            </li>
                            <li>
                                Delivery through desktop, mobile apps, and third-party platforms
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5><strong>For more information:</strong></h5>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Contact Brendan Cahill, Founder and CEO at <a href="mailto:brendan@workshopfinance.com?Subject=Tell me more about Workshop Finance!" target="_top">brendan@workshopfinance.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
 </template>