<template name="AboutPortrait">
    <div class="jumbotron-login wrapper" id="cover-inner">
        <div class="cover-space">
            &nbsp;
        </div>
        <div class="{{themeStyle.borderTop}} {{themeStyle.main}}" id="cover-text">
            <div class="{{themeStyle.borderBottom}}">
                Interactive charting for corporate finance valuation and analysis
            </div>
            <div class="{{themeStyle.borderBottom}}">
                Allows for rapid additions and deletions of valuation measures for scenario testing
            </div>
            <div class="{{themeStyle.borderBottom}}">
                Ability to maintain a “standing value” with custom inputs and alerts based on pre-defined triggers
            </div>
            <div class="{{themeStyle.borderBottom}}">
                Contact Brendan Cahill, Founder and CEO at <a href="mailto:brendan@workshopfinance.com?Subject=Tell me more about Workshop Finance!" target="_top">brendan@workshopfinance.com</a>
            </div>
        </div>
        <div class="cover-space">
            &nbsp;
        </div>
    </div>
 </template>