<template name="FootballAbout">
    <div class="wrapper" id="football-about-inner">
        <div class="{{themeStyle.borderBottom}}">
            <h5><strong>About</strong></h5>
        </div>
        <div class="wrapper" id="about-content">
            <div>
                <h5><strong>Key Features</strong></h5>
            </div>
            <div>
                <ul>
                    <li>
                        Interactive charting for corporate finance valuation and analysis
                    </li>
                    <li>
                        New and innovative way to leverage financial data, without any existing charting libraries
                    </li>
                    <li>
                        Use cases include investment banking, private equity and more
                    </li>
                    <li>
                        Delivery through desktop, mobile apps, and third-party platforms
                    </li>
                </ul>
            </div>
            <div>
                <h5><strong>For more information:</strong></h5>
            </div>
            <div>
                <ul>
                    <li>
                        Contact Brendan Cahill, Founder and CEO at <a href="mailto:brendan@workshopfinance.com?Subject=Tell me more about Workshop Finance!" target="_top">brendan@workshopfinance.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>